h1 {
  font-weight: bold;
  color: #000;
  font-size: 32px;
}

@font-face {
	font-family:"AlQalamQuranMajeedWeb";
	src:url("Al_Qalam_Quran_Majeed_Web.eot?") format("eot"),url("Al_Qalam_Quran_Majeed_Web.woff") format("woff"),url("Al_Qalam_Quran_Majeed_Web.ttf") format("truetype"),url("Al_Qalam_Quran_Majeed_Web.svg#AlQalamQuranMajeedWeb") format("svg");font-weight:normal;font-style:normal;
}
@font-face {
	font-family: 'noorehira';
	src:url('noorehira.ttf');
}

@font-face {
	font-family: 'nefel_adeti';
	src:url('nefel_adeti.ttf');
}

@font-face {
	font-family: 'quran_majeed';
	src:url('quran_majeed.ttf');
}

@font-face {
  font-family: 'traditional_arabic';
  src:url('traditional_arabic.ttf');
}

@font-face {
  font-family: 'arab_kemenag';
  src:url('arab_kemenag.ttf');
}


h2 {
  font-weight: normal;
  font-size: 68px;
  text-align: right;
  line-height: 2.0;
  direction: rtl;
}

p {
  font-size: 48px;
  text-align: left;
  font-family:'nefel_adeti';
}